In [18]:
Question 1
The following is a list of 10 students ages:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
• Sort the list and find the min and max age
• Add the min age and the max age again to the list
• Find the median age (one middle item or two middle items divided by two)
• Find the average age (sum of all items divided by their number)
• Find the range of the ages (max minus min)

SyntaxError: invalid syntax (3167394166.py, line 1)

In [19]:
import math
ages=[19, 22, 19, 24, 20, 25, 26, 24, 25, 24] # Assigning values to the list named "ages"
ages.sort() # Sorting the ages using the predefined method sort()
print("Sorted list", ages)
minage=min(ages)
maxage=max(ages)
print("Minimum age is",minage, "and Maximum age is",maxage)
ages.append(ages[0]+ages[-1]) # Appending the min and max values to list again
mid= len(ages) // 2 # Finding middle index
sum_age=0
if len(ages) %2==0:
    median=(ages [mid]+ages[~mid])/2 #if length is even, dividing two middle items
else:
    median=ages [mid] # else middle index values will be median
for age in ages: #Looping through every value in list and adding them together
    sum_age=sum_age+age
average=round(sum_age/len(ages), 2) #Taking the average and rounding it upto 2 decimal points
print("Median", median)
print("Average ", average)
print("Range of ages list is",maxage-minage)

Sorted list [19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
Minimum age is 19 and Maximum age is 26
Median 24
Average  24.82
Range of ages list is 7

In [ ]:
Question 2
• Create an empty dictionary called dog
• Add name, color, breed, legs, age to the dog dictionary
• Create a student dictionary and add first_name, last_name, gender, age, marital status, skills, country, city and address as keys for the dictionary
• Get the length of the student dictionary
• Get the value of skills and check the data type, it should be a list
• Modify the skills values by adding one or two skills
• Get the dictionary keys as a list
• Get the dictionary values as a list

In [20]:
dog=dict() # Creating an empty Dictionary dog
dogDetails=(('Name','Bruno'),('Color','Brown'),('Breed','golden retriever'),('legs',4),('Age',3))
dog.update(dogDetails)  # Adding  name, color, breed, legs, age to the dog dictionary
print(dog)
# Creating a dict called student and assiging keys and values
student={'First_name':'Deepthi','Last_name':'Vemula','Gender':'Female','Age':29,'Marital_status':'Single','Skill':['Java','Python'],
             'Country':'India','City':'Kansas','Address':'632 Travis Lane'}
print(student)
print("Lenght of student dictionary:",len(student)) # Printing length of the student dictionary using len() method
print('Value of skills:',student['Skill'],"data type:",type(student['Skill'])) # Getting  the value of skills and data type which is list
student['Skill']=['Hadoop','PowerBI'] # Modifing values for paticular keys (skills) in the dictionary 
print('Dictionary keys:',student.keys()) #  Getting the dictionary keys as a list where keys() method returns all keys
print('Dictionary values:',student.values())  #  Getting the dictionary values as a list where values() method returns all values

{'Name': 'Bruno', 'Color': 'Brown', 'Breed': 'golden retriever', 'legs': 4, 'Age': 3}
{'First_name': 'Deepthi', 'Last_name': 'Vemula', 'Gender': 'Female', 'Age': 29, 'Marital_status': 'Single', 'Skill': ['Java', 'Python'], 'Country': 'India', 'City': 'Kansas', 'Address': '632 Travis Lane'}
Lenght of student dictionary: 9
Value of skills: ['Java', 'Python'] data type: <class 'list'>
Dictionary keys: dict_keys(['First_name', 'Last_name', 'Gender', 'Age', 'Marital_status', 'Skill', 'Country', 'City', 'Address'])
Dictionary values: dict_values(['Deepthi', 'Vemula', 'Female', 29, 'Single', ['Hadoop', 'PowerBI'], 'India', 'Kansas', '632 Travis Lane'])

In [ ]:
Question 3
• Create a tuple containing names of your sisters and your brothers (imaginary siblings are fine)
• Join brothers and sisters tuples and assign it to siblings
• How many siblings do you have?
• Modify the siblings tuple and add the name of your father and mother and assign it to family_members

In [21]:
#creating a tuple and assigning values to it
brothers=("B1", "B2", "B3")
sisters=("S1","S2","S3")
siblings=brothers+sisters #By using + operator we can join two tuples
print("Siblings are", siblings)
print("There are", len(siblings), "siblings")
siblings=("F", "M") + siblings #Adding new values to a tuple
family_members=siblings
print("Family members are", family_members)

Siblings are ('B1', 'B2', 'B3', 'S1', 'S2', 'S3')
There are 6 siblings
Family members are ('F', 'M', 'B1', 'B2', 'B3', 'S1', 'S2', 'S3')

In [ ]:
Question 4
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]
• Find the length of the set it_companies
• Add 'Twitter' to it_companies
• Insert multiple IT companies at once to the set it_companies
• Remove one of the companies from the set it_companies
• What is the difference between remove and discard
• Join A and B
• Find A intersection B
• Is A subset of B
• Are A and B disjoint sets
• Join A with B and B with A
• What is the symmetric difference between A and B
• Delete the sets completely
• Convert the ages to a set and compare the length of the list and the set.

In [22]:
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'} # creating a set and assigning values
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age=[22, 19, 24, 25, 26, 24, 25, 24]
print("Number of IT companies",len (it_companies))#len() return the length of the set
it_companies.add("Twitter")#add() is used to add new values to the set
print("Adding new IT company ",it_companies)
it_companies.update(["Accenture","Wipro"])#adding multiple values to the set using update
print("Adding multiple IT companies ",it_companies)
it_companies.remove("Wipro") #remove() removes the value from set if the values exists else it throws error
print("Removing one IT company ",it_companies)
print("Remove method raises an error when value doesn't exist, whereas discard method doesn't raise an error")
AUB=A.union(B)#union() operation joins two sets
print("A Union B",AUB)
AIB=A.intersection(B)#intersection () returns the common data from two sets
print("A Intersection B ",AIB)
print("Is A is subset of B:",A.issubset(B)) #issubset() return boolean value whether b is subset of a or not
print("Is A and B are disjoint sets:",A.isdisjoint(B))#isdisjoint() return boolean value whether b is disjoint sets or not
print("Join A with B", AUB)# Joining A with B
BUA=B.union(A)
print("Join B with A", BUA)# Joining B with A
print("Symmetric difference between A and B ",A.symmetric_difference(B))
#Using predefined method clear() for deleting the sets
A.clear()
B.clear()
print("Sets A and B are deleted")
age_set=set(age) #type conversion from List ot set
print("Converted age list to set ",age_set)
print("Length of age list",len(age))
print("Length of age set",len(age_set)) 
print("difference between length of age list and length of age set is ",len(age)-len (age_set))

Number of IT companies 7
Adding new IT company  {'Microsoft', 'Amazon', 'Google', 'Apple', 'Twitter', 'Facebook', 'Oracle', 'IBM'}
Adding multiple IT companies  {'Microsoft', 'Amazon', 'Oracle', 'IBM', 'Twitter', 'Facebook', 'Google', 'Wipro', 'Accenture', 'Apple'}
Removing one IT company  {'Microsoft', 'Amazon', 'Oracle', 'IBM', 'Twitter', 'Facebook', 'Google', 'Accenture', 'Apple'}
Remove method raises an error when value doesn't exist, whereas discard method doesn't raise an error
A Union B {19, 20, 22, 24, 25, 26, 27, 28}
A Intersection B  {19, 20, 22, 24, 25, 26}
Is A is subset of B: True
Is A and B are disjoint sets: False
Join A with B {19, 20, 22, 24, 25, 26, 27, 28}
Join B with A {19, 20, 22, 24, 25, 26, 27, 28}
Symmetric difference between A and B  {27, 28}
Sets A and B are deleted
Converted age list to set  {19, 22, 24, 25, 26}
Length of age list 8
Length of age set 5
difference between length of age list and length of age set is  3

In [ ]:
Question 5
The radius of a circle is 30 meters.
• Calculate the area of a circle and assign the value to a variable name of _area_of_circle_
• Calculate the circumference of a circle and assign the value to a variable name of _circum_of_circle_
• Take radius as user input and calculate the area.

In [23]:
radius=30
_area_of_circle_=3.14*(radius**2) #Using area of cirlce formula
_circum_of_circle_=2*3.14*radius #Using circumference of cirlce formula


print("Area of Circle with radius %d is" % radius, _area_of_circle_)
print("Circumference of circle with radius %d is" % radius,_circum_of_circle_)

radius=int((input("Enter a radius ")))#input() allows dynamic input from the user
_area_of_circle_=3.14*(radius**2)#using area of cirlce formula
print("Area of Circle",_area_of_circle_)

Area of Circle with radius 30 is 2826.0
Circumference of circle with radius 30 is 188.4
Enter a radius 15
Area of Circle 706.5

In [ ]:
Question 6
“I am a teacher and I love to inspire and teach people”
• How many unique words have been used in the sentence? Use the split methods and set to get the unique words.

In [24]:
sentence="I am a teacher and I love to inspire and teach people"
unique_letter=set(sentence.split())#Splits a string into a list where each word is a List item
print("Number of unique words are",len(unique_letter))

Number of unique words are 10

In [25]:
Question 7
Use a tab escape sequence to get the following lines.
Name Age Country City
Asabeneh 250 Finland Helsinki

SyntaxError: invalid syntax (3285650593.py, line 1)

In [26]:
print("Name\t\tAge\tCountry\t\tCity\nAsabeneh\t250\tFinland\t\tHelsinki") #using escape sequence

Name		Age	Country		City
Asabeneh	250	Finland		Helsinki

In [ ]:
Question 8
Use the string formatting method to display the following:
radius = 10
area = 3.14 * radius ** 2
“The area of a circle with radius 10 is 314 meters square.”

In [27]:
radius = 10 
area = 3.14 * radius ** 2 
print("The area of a circle with radius %s is %s meters square." %(radius, area))#Using string formatting method

The area of a circle with radius 10 is 314.0 meters square.

In [ ]:
Question 9
Write a program, which reads weights (lbs.) of N students into a list and convert these weights to kilograms in a separate list using Loop. N: No of students (Read input from user)
Ex: L1: [150, 155, 145, 148]
Output: [68.03, 70.3, 65.77, 67.13]

In [28]:
no_of_students=int(input("Enter total number of students ")) #reading input from the user 
#creating empty list 
weights_in_lbs=[] 
weights_in_kg=[] 
for stu in range (no_of_students):
    weights_in_lbs.append(int(input("Enter weight of student "+str(stu)+" "))) #reading user input and appending to the list
    weights_in_kg.append(round(weights_in_lbs [ stu]*0.453592,2)) #using mathmaticle operators coverting lbs to kg 
print("Weights in Lb", weights_in_lbs) 
print("Weights in kg", weights_in_kg)

Enter total number of students 2
Enter weight of student 0 110
Enter weight of student 1 120
Weights in Lb [110, 120]
Weights in kg [49.9, 54.43]